*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: rgb(30, 131, 30);
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    width: 90px;
    height: 150px;
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 30px;
    text-indent: 5px;
    margin: 5px;
    background-color: white;
}
/* .card:hover{
    margin-bottom: 10px;
} */

.containerCardName {
    justify-content: center;
    display: flex;
    /* width: 100vw; */
    font-size: 24px; /* Increase font size */
}

/* Hide the last row */
.row-container:last-child {
    position: fixed;
    bottom: 9%;
    left: 0;
    width: 100%;
}

.shuffleButton {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 60px;
}
.butContainer{
    position: absolute;
    display: flex;
    gap: 5%;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    display: none;
}
.butContainer button{
    margin-top: 5vh;
    padding: 15px 37px;
    font-size: 16px;
    border: none;
}
.handIndicationBottom {
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    position: absolute; /* Change to absolute */
}

.handIndicationTop {
    top: 19%;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
    position: absolute; /* Change to absolute */
}

.bidding-space {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    gap: 4%;
    width: 25%;
    height: 280px;
    justify-content: center;
    overflow: auto;
    position: absolute;
    top: 40%;
    transform: translate(0,-50%);
}

.box {
    width: 20%; /* Adjust width and gap to fit 4 boxes per row */
    height: 30%; /* Adjust height as needed */
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top:2%;
}
.vul{
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 5%;
}
.vul>div{
    display: flex;
    height: 100%;
    width: 20%;
    color: white;
    justify-content: center;
    align-items: center;
}
.bidding {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 55%;
    width: 480.5px;
    font-size: 40px;
}

.bid-option {
    padding: 20.3px;
    background-color: lightblue;
    cursor: pointer;
}
.pass {
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
}
.bidding-options {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    align-items: center;
    gap: 5px;
    font-size: inherit;
}

.bidding-option {
    padding: 0 0 0 20px;
    background-color: lightgray;
    cursor: pointer;
    font-size: inherit;
}
.bidding-option-img{
    width:52px;
    height:63px;
    border-Right:1px solid black;
    display:block;
    padding: 20px 20px 20px 0;

}
.pointer-events{
    pointer-events: none;
    background-color: gray;
}
.hidden {
    display: none;
}
.selected{
    background-color: aquamarine;
}

.bidding-option-container {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    cursor: pointer;
}
.bidding-option-span{
    text-indent: 20px;
    font-size: 28px;
}
  